section {
    padding: 20px;
  }

.cards-list {
    margin-left: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}
  
.card--stats {
    display: flex;
    align-items: center;
}
  
.card--star {
    height: 14px;
}

.card--price {
    margin-top: auto;
}

.card--desc--container {
    padding: 2px 5px ;
    text-indent: 1em;
    background: rgba(255,95,90,0.15);
    border: 2px solid rgba(255,95,90,0.7);
    border-radius: 9px;
}

.card--badge {
    position:absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}
